<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Inventory"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        tools:replace="android:label"
        android:theme="@style/Theme.Inventory">
        <activity
            android:name="com.example.inventory.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.inventory.NewList"
            android:exported="true" />
        <activity
            android:name="com.example.inventory.LoadList"
            android:exported="true" />
        <activity
                android:name="com.example.inventory.CatalogActivity"
                android:theme="@style/AppTheme"
                android:exported="true" />
        <activity
                android:name="com.example.inventory.EditorActivity"
                android:parentActivityName="com.example.inventory.CatalogActivity"
                android:exported="true" />
        <activity
                android:name="com.example.inventory.ItemActivity"
                android:parentActivityName="com.example.inventory.CatalogActivity"
                android:theme="@style/noTitle"
                android:exported="true" />
        <provider
                android:name="com.example.inventory.data.ItemProvider"
                android:authorities="com.example.inventory"
                android:exported="false" />

    </application>

</manifest>